body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f7f7f7;
    background-image: url('robotic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 36px;
    background: linear-gradient(270deg, #00aaff, #0047ab, #00aaff);
    background-size: 300% 100%;
    animation: moveGradient 10s ease-in-out infinite;
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

.button {
    padding: 10px 20px;
    background-color: #2898a7;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1d80c6;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.hidden {
    display: none; /* Hides the default file input */
}

/* Style the label as a button */
label.button {
    padding: 10px 20px;
    background-color: #2898a7;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

label.button:hover {
    background-color: #1d80c6;
}

/* Keyframes for the smooth gradient animation on the heading */
@keyframes moveGradient {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0; /* Smoothly returns to starting point */
    }
}
